body,
p,
h3 {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 6fr;
  font-family: sans-serif;
}

.sidebar {
  --logo-height: 1.75em;
  background-color: blue;
  color: white;
  font-size: 1em;
  display: grid;
  align-content: start;
  gap: 2em;
  padding: 1em;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar-logo .logo {
  height: var(--logo-height);
  display: grid;
  grid-template-columns: var(--logo-height) 1fr;
}

.sidebar-logo {
  font-size: 1rem;
  display: grid;
  grid-template-columns: var(--logo-height) 1fr;
  align-items: center;
  gap: .5rem;
}

.navigation-links {
  display: grid;
  gap: 1em;
}

.support-links {
  display: grid;
  gap: 1em;
}

.nav-link {
  display: grid;
  grid-template-columns: var(--logo-height) 1fr;
  gap: .5em;
}

.nav-link > img {
  height: 1em;
  align-self: center;
  justify-self: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr 5fr; 
  height: 100vh;
}

.header {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: .5em;
  padding: .5em 2em .5em 2em;
  box-sizing: border-box;
}

.header .search-bar {
  --image-height: 1em;
  grid-column: 1 / 3;
  align-items: center;
}

.search-bar img {
  height: var(--image-height);
}

.search-bar {
  display:grid;
  grid-template-columns: var(--image-height) 1fr;
}

.search-bar input {
  appearance: none;
  border-radius: 15px;
  background-color: lightgray;
}

.icon {
  height: 1em;
}

.header-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1em;
  align-items: center;
}

.header-buttons button {
  border-radius: 15px;
  background-color: blue;
  color: white;
}

.header .profile-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em, 2em;
  font-size: .75rem;
}

.header .profile-info > * {
  --gap-between: .5em;
  margin: 0 var(--gap-between);
}

.profile-info .user-name {
  margin: 0 0 0 var(--gap-between);
  font-weight: bold;
}

.header .profile-header {
  --profile-pic-height: 2.5em;
  grid-column: 1/3;
  display: grid;
  align-items: center;
  grid-template-columns: var(--profile-pic-height) 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 .5em;
  font-weight: bold;
}

.profile-info img {
  height: 2em;
  border-radius: 50%;
}

.profile-info .bell {
  height: 1rem;
}

.profile-header img {
  height: var(--profile-pic-height);
  border-radius: 50%;
  grid-row: 1/3;
  justify-self: center;
}
 
.greeting {
  font-size: .5rem;
}

.user-name-handle p {
  display: inline;
}

.header-buttons {
  align-self: space-between;
}

.dashboard {
  --header-height: 3em;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  box-sizing: border-box;
  padding: 0 .5em 2em .5em;
}

.project-board {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  padding: 0  1em;
  box-sizing: border-box;
  border-radius: 10px;
}

.project-cards {
  grid-column: 1/3;
  display: grid;
  font-size: .75rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  box-sizing: border-box;
  padding-top: .5em;
}

.projects h3 {
  grid-column: 1/3;
  font-size: 1em;
}

.project-board>:nth-child(1) {
  align-self: end;
  font-weight: bold;
}

.project-board>:nth-child(2)  {
  color: lightgray;
}

.project-links {
  display: flex;
  justify-content: end;
}

.project-links img {
  height: 1em;
  margin: .75em;
}

.projects h3 {
  align-self: end;
}

.news {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0 .5em 2em .5em;
  box-sizing: border-box;
  --news-side-font-sizing: .75rem;
  --news-side-header-font-sizing: 1em;
}

.news h3 {
  font-size: 1em;
  align-self: end;
}

.announcements {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  gap: 
}

.announcement-board {
  margin: .325em 0 0 0;
  background-color: white;
  padding: 1em;
  border-radius: 15px;
}

.announcement-board>:nth-child(2) {
  border-top: solid 2px lightgrey;
  border-bottom: solid 2px lightgrey;
}

.announcement-item {
  padding: .5em;
}

.announcement-title {
  font-size: var(--news-side-font-sizing);
  font-weight: bold;
}

.announcement-text {
  font-size: var(--news-side-font-sizing);
  color: lightgray;
}

.trending {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
}

.trending h3 {
  align-self: end;
}

.trending-user-card {
  display: grid;
  --avatar-height: 2.5em;
  grid-template-columns: var(--avatar-height) 2fr;
  grid-template-areas:
    "avatar  handle . "
    "avatar  project-name project-name";
  gap: 0px .5em;
}

.trending-board {
  background-color: white;
  border-radius: 15px;  
  padding: .25em 1em .25em 1em;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  margin: .325em 0 0 0;
}

.trending-user-card img {
  grid-area: avatar;
  height: var(--avatar-height);
  border-radius: 50%;
  align-self: center;
}

.trending-user-card .user-handle {
  grid-area: handle;
  font-weight: bold;
  align-self: end;
  font-size: var(--news-side-font-sizing)
}

.trending-user-card .project-name {
  grid-area: project-name;
  align-self: start;
  font-size: var(--news-side-font-sizing)
}
