body
p {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 6fr;
}

.sidebar {
  background-color: blue;
  color: white;
  font-size: 1rem;
  display: grid;
  align-content: start;
  gap: 1em;
}

.sidebar-logo h3 {
  display: inline;
}

.sidebar img {
  height: 1em;
}


.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, 1fr) 8fr; 
}

.header {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 1rem;
  align-items: center;
}

.header .search-bar {
  grid-column: 1 / 3;
}

.search-bar img {
  height: 1em;
}

.header .profile-info {
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.header .profile-header {
  grid-column: 1/3;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
}

.profile-info img {
  height: 1em;
}

.profile-header img {
  grid-row: 1/3;
  justify-self: center;
}

.user-name-handle p {
  display: inline;
}

.header-buttons {
  align-self: space-between;
}

.dashboard {
  background-color: grey;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects h1 {
  grid-column: 1/3;
}
.project-board {
  background-color: white;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
}